<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">

</nav>

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)='createMovie()'>Add New Movie</button>
  </li>
  <li class="nav-item">
    <button routerLink="/concessions" routerLinkActive="active" mat-raised-button color="primary">Add Concession</button>
  </li>
  <li class="nav-item">
    <button routerLink="/theater" routerLinkActive="active" mat-raised-button color="primary">Add Theater</button>
  </li>
  <li class="nav-item">
    <button routerLink="/employee" routerLinkActive="active" mat-raised-button color="primary">Add Employee</button>
  </li>
  <li class="nav-item">
    <button onclick="window.location.href='./src/app/Welcome/welcome.component.html'" mat-raised-button color="primary">Finish</button>
  </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let movie of movies; let i = index">
      <mat-card-content>
        <img class="cover"
          [src]="movie.poster_URL" onerror="this.src='../../img/Default Image.jpg';">
        <!-- <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="movie.id" disabled type="text" class="form-control" placeholder="ID" aria-label="id">
        </p> -->
        <p>
          <label for="title">Title:</label>
          <input [(ngModel)]="movie.title" type="text" class="form-control" placeholder="Title" aria-label="title"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="genre">Genre:</label>
          <input [(ngModel)]="movie.genre" type="text" class="form-control" placeholder="Genre" aria-label="genre"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="length">Length:</label>
          <input [(ngModel)]="movie.length" type="text" class="form-control" placeholder="Length"
            aria-label="length" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="publisher">Publisher</label>
          <input [(ngModel)]="movie.publisher" type="text" class="form-control" placeholder="Publisher" aria-label="publisher"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="poster_URL">Poster URL</label>
          <input [(ngModel)]="movie.poster_URL" type="text" class="form-control" placeholder="Poster_URL" aria-label="Poster_URL"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateMovie(movie)">Save</button>
          <button mat-raised-button color="warn" (click)="removeMovie(movie, i)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>