<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">

</nav>

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)='createConcession()'>Add Snacks</button>
  </li>
  <li class="nav-item">
    <button routerLink="/movie" routerLinkActive="active" mat-raised-button color="primary">Add Movie</button>
  </li>
  <li class="nav-item">
    <button routerLink="/theater" routerLinkActive="active" mat-raised-button color="primary">Add Theater</button>
  </li>
  <li class="nav-item">
    <button routerLink="/employee" routerLinkActive="active" mat-raised-button color="primary">Add Employee</button>
  </li>
  <li class="nav-item">
    <button onclick="window.location.href='./src/app/Welcome/welcome.component.html'" mat-raised-button color="primary">Finish</button>
  </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let concession of concessions; let i = index">
      <mat-card-content>
        <img class="cover"
          [src]="concession.snack_URL" onerror="this.src='../../img/Default Image.jpg';">
        <!-- <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="concession.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p> -->
        <p>
          <label for="name">Name:</label>
          <input [(ngModel)]="concession.name" type="text" class="form-control" placeholder="Name" aria-label="concession.name"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="description">Description:</label>
          <input [(ngModel)]="concession.description" type="text" class="form-control" placeholder="Description" aria-label="concession.description"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price:</label>
          <input [(ngModel)]="concession.price" type="text" class="form-control" placeholder="Price"
            aria-label="concession.price" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="concession_type">Type</label>
          <input [(ngModel)]="concession.concession_type" type="text" class="form-control" placeholder="Concession Type" aria-label="concession.concession_type"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="snack_URL">Snack Image</label>
          <input [(ngModel)]="concession.snack_URL" type="text" class="form-control" placeholder="Snack URL" aria-label="concession.snack_URL"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateConcession(concession)">Save</button>
          <button mat-raised-button color="warn" (click)="removeConcession">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>