
    * {
      margin: 0px;
      padding: 0px;
      position: relative;
    }

    body,
    html {
      width: 100vw;
      height: 100vh;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .r1 {
      margin: 1px;
      background-color: whitesmoke;
    }

    .r2 {
      display: block;
      height: 50px;
    }

    .r3 {
      background-color: rgb(211, 39, 39);
    }

    .r4 {
      text-align: center;
      padding: 1em;
      background-color: whitesmoke;
    }

    .main-container-grid {
      display: grid;
      grid-template-rows: 1fr 5fr 5fr 1fr;
      height: 100%;
    }

    .top-button-nav {
      text-align: center;
      font-size: 18px;
    }

    .top-button-nav>li {
      display: inline-block;
      padding: 1em 5em;
      border: 2px solid black;
      height: 2px;
      vertical-align: middle;
      line-height: 5px;
    }

    .top-button-nav>li>a {
      margin-bottom: 5px;
    }

    .main-title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .contact-us-container {
      width: 500px;
      height: 500px;
      margin: 100px auto;
    }

    .contact-input {
      width: 91%;
      padding: 15px;
      margin: 5px;
    }

    .submit-button {
      padding: 10px 25px;
      background-color: #CCC;
      float: right;
      margin-top: 12px;
    }