<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">

</nav>

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)='createTheater()'>Add New Theater</button>
  </li>
  <li class="nav-item">
    <button routerLink="/concessions" routerLinkActive="active" mat-raised-button color="primary">Add Concession</button>
  </li>
  <li class="nav-item">
    <button routerLink="/movie" routerLinkActive="active" mat-raised-button color="primary">Add Movie</button>
  </li>
  <li class="nav-item">
    <button routerLink="/employee" routerLinkActive="active" mat-raised-button color="primary">Add Employee</button>
  </li>
  <li class="nav-item">
    <button onclick="window.location.href='./src/app/Welcome/welcome.component.html'" mat-raised-button color="primary">Finish</button>
  </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let theater of theaters; let i = index">
      <mat-card-content>
        <img class="cover"
          [src]="theater.theater_URL" onerror="this.src='../../img/Default Image.jpg';">
        <!-- <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="theater.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p> -->
        <p>
          <label for="name">Theater Name:</label>
          <input [(ngModel)]="theater.name" type="text" class="form-control" placeholder="Name" aria-label="name"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="location">Location:</label>
          <input [(ngModel)]="theater.location" type="text" class="form-control" placeholder="Location" aria-label="location"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="theater_type">Type:</label>
          <input [(ngModel)]="theater.theater_type" type="text" class="form-control" placeholder="Theater Type" aria-label="theater_type"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="number_of_rooms">Number of Rooms:</label>
          <input [(ngModel)]="theater.number_of_rooms" type="text" class="form-control" placeholder="Number of Rooms"
            aria-label="number_of_rooms" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="number_of_employees">Number of Employees</label>
          <input [(ngModel)]="theater.number_of_employees" type="text" class="form-control" placeholder="Number of Employees" aria-label="number_of_employees"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="theater_URL">Theater Picture URL</label>
          <input [(ngModel)]="theater.theater_URL" type="text" class="form-control" placeholder="Theater URL" aria-label="theater_URL"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateTheater(theater)">Save</button>
          <button mat-raised-button color="warn" (click)="removeTheater(theater)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>