<!DOCTYPE html>
<html>

<head>
    <title>Concessions</title>
    <link rel="stylesheet" href="concessions.component.css">
</head>

<body class="main-container-grid">
    <div class="r1">
        <ul class="top-button-nav">
            <li><a href="../Welcome/welcome.component.html">Welcome</a></li>
            <li><a href="../MoviesShowtimes/showtimes.component.html">Movies and Showtimes</a></li>
            <li><a href="../Concessions/concessions.component.html">Concessions</a></li>
            <li><a href="../contact-us/contact.component.html">Contact Us</a></li>
        </ul>
    </div>
    <div class="r2">
        <div class="page-title">
            <h2>Concessions</h2>
        </div>
    </div>
    <div class="r3">

    </div>
    <div class="r4">
        <div class="food-pic-container">
            <img src="../../../img/Food5.jpg" alt="Pizza">
        </div>
        <div class="food-header">
            <h3>Hand Tossed Pizza</h3>
        </div>
        <div class="food-description">
            <p>
                Choose from our delicious cheese or peperoni pizzas. Our personal size pizzas are the perfect meal for a
                movie!
            </p>
        </div>
    </div>
    <div class="r5">
        <div class="food-pic-container">
            <img src="../../../img/Food2.jpg" alt="Popcorn">
        </div>
        <div class="food-header">
            <h3>Popcorn</h3>
        </div>
        <div class="food-description">
            <p>
                Gluten Free, poppen in coconut oil, and no artificail preservatives. Your favorite movie time snack.
            </p>
        </div>
    </div>
    <div class="r6">
        <div class="food-pic-container">
            <img src="../../../img/Food1.jpg" alt="Soda">
        </div>
        <div class="food-header">
            <h3>Soft Drink</h3>
        </div>
        <div class="food-description">
            <p>
                With over 200 delicious opstions to choose from, pick the perfect drink that suits your personality.
                Available in small, medium, and large!
            </p>
        </div>
    </div>
    <div class="r7">
        Copyright (C) 2019, Created by Site View
    </div>

</body>

</html>