
        * {
            margin: 0px;
            padding: 0px;
            position: relative;
        }

        body,
        html {
            width: 100vw;
            height: 100vh;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .main-title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1em;
        }

        .main-container-grid {
            display: grid;
            grid-template-rows: 1fr 5fr 5fr 1fr;
            height: 100%;
        }

        .r1 {
            margin: 1px;
            background-color: whitesmoke;
        }

        .r3 {
            margin: 1px;
            background-color: rgb(211, 39, 39);
        }

        .r2 {
            background-color: white;
        }

        .r4 {
            background-color: whitesmoke;
        }

        .r4 {
            text-align: center;
            padding: 1em;
        }

        .top-button-nav {
            text-align: center;
            font-size: 18px;
        }

        .top-button-nav>li {
            display: inline-block;
            padding: 1em 5em;
            border: 2px solid black;
            height: 2px;
            vertical-align: middle;
            line-height: 5px;

        }

        .top-button-nav>li>a {
            margin-bottom: 5px;
        }

        .main-logo>img {
            width: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .search {
            text-align: center;
        }

        .search-bar {
            width: 280px;
            height: 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-bottom: 15px;

        }

        .search-button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 20px;
            width: 42px;
            padding: 11px 8px;
        }

        .movie-container {
            text-align: center;
        }

        .middle-movie-nav>li {
            display: inline-block;
        }

        .middle-movie-nav>li>img {
            height: 225px;
            padding-left: 1px;
            padding-right: 1px;
        }
